:root {
    --font-family: "Poppins", sans-serif;

}

body {
    width: 100vw;
    height: 100%;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)) ,url(../media/bg-three.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
}

.offcanvas-body {
    border: none;
    outline: none;
    text-align: end;
}

.offcanvas-body .nav-link {
    font-size: 22px;
    margin: 15px auto;
    margin-top: 60px;
    text-align: end;
}

.offcanvas {
    max-width: 200px;
}

.offcanvas-header {
    display: none;
}

.text-bg-dark {
    background: transparent !important;
}

.login {
    margin-top: 30px;
}

.login input {
    margin: 10px 0;
}

.login input {
    background: rgba(3, 83, 164, 0.5);
    border: none;
    outline: none;
    color: #fff;
    box-shadow: 0 0 7px #0353A4;
}

.login input::placeholder {
    color: white;
    font-size: 18px;
}

.login input:focus {
    background: #0353A4;
    color: #fff;
}

.login button {
    background: #001233;
    border: none;
    outline: none;
}

.login button:hover {
    background: #0353A4;
    color: #fff;
}

.section-container {
    max-width: 100%;
}

.hopzone{
    position: fixed;
    left: 10px;
    top: 50px;
    z-index: 10;
}

.hopzone img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--bs-bg-opacity);
}

.welcome {
    max-width: 80%;
    margin: 0 auto;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;
}

.welcome .welcome-title {
    font-size: 32px;
    margin-top: 100px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.oc {
    display: none;
}

.buttons {
    display: flex;
    margin-top: 100px;
}

.buttons a {
    margin: 0 10px;
    background: url(../media/btngray.jpg);
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    filter: brightness(1.02);
    -webkit-filter: brightness(1.02);
}

.buttons .btn-download{
    background: url(../media/btn_yellow_bg.jpg);
}

.buttons a:hover {
    filter: brightness(.9);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-filter: brightness(.9);
}

.section-container{
    width: 100%;
    height: 100%;

}

.preview {
    width: 100%;
    height: 100%;
    margin-top: 35px;
}

.preview iframe {
    width: 90%;
    margin: 20px auto;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 4px 4px 15px white,
        -4px -4px 15px black;
}

.server-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.server-info {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 0 15px #0353A4;
    border-radius: 10px;
    background: rgba(3, 83, 164, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px 0;
}

.server-info h3 {
    font-size: 23px;
    font-weight: 700;
}

.server-dc {
    display: none;
}

.server-dc iframe {
    box-shadow: 0 0 15px #0353A4;
}

footer {
    margin-top: 35px;
    text-align: center;
}

@media screen and (min-width: 380px) {

    .section-container {
        width: 100%;
    }

    .preview iframe {
        width: 320px;
    }

    .server-content {
        width: 100%;
    }

    .server-info {
        width: 70%;
        margin: 0 90px;
        margin-top: 30px;
    }

    .info-detail {
        text-align: start;
        margin-left: 30px;
    }

    .server-dc {
        display: none;
    }
}

@media screen and (min-width: 720px) {

    .hopzone{
        position: fixed;
        left: 30px;
        top: 50px;
        z-index: 10;
    }

    .hopzone img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .offcanvas-body .nav-link {
        font-size: 16px;
    }

    .welcome-text .to {
        padding-bottom: 100px;
    }

    .welcome-text .welcome-title {
        font-size: 2rem;
        margin-top: 55px;
    }

    .buttons a{
        width: 170px;

    }

    .preview iframe {
        width: 50%;
    }

    .server-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .server-info {
        width: 40%;
    }

    .server-dc {
        display: flex;
        margin-top: 30px;
        width: 210px;
    }

    .server-dc iframe {
        width: 90%;
        margin-right: 40px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media screen and (min-width: 1024px) {

    .hopzone{
        position: fixed;
        left: 30px;
        top: 100px;
        z-index: 10;
    }

    .hide-on-large {
        display: none;
    }

    .offcanvas-body {
        position: fixed;
        display: flex;
        top: 30px;
        left: 30px;
    }

    .offcanvas-body .nav-link {
        margin: 0 15px;
    }

    .offcanvas-body .nav-link:hover {
        color: #0353A4;
        transform: scale(1.02);
        transition: .4s;
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
    }

    .login {
        position: fixed;
        top: 0;
        right: 30px;
    }

    .buttons a{
        text-align: center;
        justify-content: center;
        margin: auto;
        width: 170px;
        height: 50px;
    }

    .preview {
        display: flex;
    }

    .preview iframe {
        width: 480px;
        height: 280px;
    }

    .server-content {
        width: 100%;

    }

    .server-info,
    .server-dc {
        width: 30%;
    }

}